@import 'theme.scss';

:host {
  display: block;
  z-index: 10;
  background-color: mat-color($website-primary);

  &.sticky {
    position: sticky;
    top: 0;
  }
}

.title {
  color: inherit;
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  display: flex;
  padding: 4px;
}
