<header>
  <mat-toolbar color="primary">
    <a class="title" href="https://puku0x.net/">
      <ng-content></ng-content>
    </a>
    <span class="spacer"></span>
    <!-- <a mat-button routerLink="/home">Home</a> -->
    <!-- <a mat-button routerLink="/posts">Blog</a> -->
    <a
      class="icon"
      href="https://github.com/puku0x/puku0x.net"
      rel="noopener noreferrer"
      target="_blank"
      title="GitHub"
    >
      <img src="assets/icons/github-icon.svg" alt="" />
    </a>
  </mat-toolbar>
</header>
