@import 'theme.scss';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(-1 * env(safe-area-inset-bottom));
  margin-left: calc(-1 * env(safe-area-inset-left));
  margin-right: calc(-1 * env(safe-area-inset-right));
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  background-color: mat-color($website-primary);
  color: #fff;
  font-size: 12px;
}
