:host {
  display: block;
}

a {
  color: #0366d6;
  text-decoration: none;
}

mat-card-content {
  img {
    width: 100%;
  }
}

.category {
  margin: 0 0 1em 0;
}

.pagenator {
  margin-top: 2em;

  mat-icon {
    color: #666;
  }
}
