:host {
  display: block;
  padding: 16px;
}

mat-card-content {
  img {
    width: 100%;
  }
}

.category {
  margin: 0 0 1em 0;
}

.pagenator {
  margin-top: 2em;

  mat-icon {
    color: #666;
  }
}
