<mat-card>
  <section>
    <ng-container *ngIf="post$ | async as post">
      <mat-card-header>
        <div mat-card-avatar class="avatar-image"></div>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle>
          {{ post.date | date: 'fullDate' }}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image alt="" width="720" height="405" [src]="post.image" />
      <section class="category">
        <ng-container *ngIf="post$ | async as post">
          <mat-chip-list aria-label="Categories">
            <mat-chip *ngFor="let category of post.categories">
              <span>#{{ category }}</span>
            </mat-chip>
          </mat-chip-list>
        </ng-container>
      </section>
    </ng-container>
    <mat-card-content>
      <scully-content></scully-content>
    </mat-card-content>
  </section>
  <section class="pagenator">
    <mat-divider></mat-divider>
    <mat-nav-list>
      <ng-container *ngIf="nextPost$ | async as next">
        <div mat-subheader>次の投稿</div>
        <a mat-list-item mat-line [routerLink]="next.route">{{ next.title }}</a>
      </ng-container>
      <ng-container *ngIf="prevPost$ | async as prev">
        <div mat-subheader>前の投稿</div>
        <a mat-list-item mat-line [routerLink]="prev.route">{{ prev.title }}</a>
      </ng-container>
    </mat-nav-list>
  </section>
</mat-card>
