@import '~normalize.css';
@import '~highlight.js/scss/atom-one-dark.scss';
@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import 'theme.scss';

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($light-theme);

@media (prefers-color-scheme: dark) {
  @include angular-material-color($dark-theme);
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87);

  @media (prefers-color-scheme: dark) {
    background-color: #2d2d2d;
    color: rgba(255, 255, 255, 0.87);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #304ffe;
  text-decoration: none;

  @media (prefers-color-scheme: dark) {
    color: #ffea00;
  }
}

.mat-card-image {
  height: auto;
}

.mat-typography h2 {
  margin: 2em 0 0.5em 0;
}

code {
  padding: 0.2em 0.4em;
  border-radius: 3px;
  color: #d50000;
  background-color: rgba(0, 0, 0, 0.03);
  font-size: 90%;

  @media (prefers-color-scheme: dark) {
    background-color: hsla(0, 0%, 100%, 0.06);
    color: #00e676;
  }
}

pre > code,
pre > code[class*='language-'] {
  display: block;
  overflow-x: auto;
  padding: 16px;
  color: #e6e1dc;
  background-color: #282c34;
  font-size: 100%;
}

blockquote {
  margin: 1em 40px;
  padding: 8px;
  border-radius: 4px;
  background-color: #eeeeee;

  @media (max-width: 599px) {
    margin: 1em 0px;
  }
}

.avatar-image {
  background-image: url('https://avatars0.githubusercontent.com/u/2607019?s=64&v=4');
  background-size: cover;
}

button.copy-to-clipboard {
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px 8px;
  background-color: #455a64;
  color: #fff;
  border-radius: 4px;
  margin: 4px;
  border: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  &:hover {
    background-color: #ffffff;
    color: #455a64;
    border: 0;
  }
}
