@import 'theme.scss';

:host {
  display: block;
  margin-left: calc(-1 * env(safe-area-inset-left));
  margin-right: calc(-1 * env(safe-area-inset-right));
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  min-width: 0px;
  background-color: #fff;
}

main {
  margin: 0 auto;
  max-width: 720px;
}
